.container {
  position: relative;
}

.notification {
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  font-weight: 600;
  height: 1.5rem;
  justify-content: center;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  width: 1.5rem;
}
