.container {
  margin-inline: auto;
  padding: 2.5rem;
  width: 90%;
}

.product-section {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.product-img-container {
  display: flex;
  justify-content: center;
  width: 40%;
}

.product-img-container img {
  aspect-ratio: 1;
  object-fit: contain;
  width: min(500px, 100%);
}

.product-info-container {
  padding: 1rem;
  width: 40%;
}

.product-manufacturer {
  font-size: 16px;
  margin-bottom: 2rem;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.add-to-cart-container {
  align-items: center;
  display: flex;
}

.quantity-btn-container {
  align-items: center;
  display: flex;
  width: 40%;
}

.add-to-cart-btn {
  font-size: 14px;
  width: 40%;
}

.out-of-stock-btn {
  background-color: #e7e7e7;
  font-size: 14px;
  width: 40%;
}

.out-of-stock-btn a {
  background-color: #e7e7e7;
  cursor: default;
}

.out-of-stock-btn a:hover::after {
  box-shadow: none;
}

.out-of-stock-btn a::after {
  box-shadow: none;
}

.add-to-cart-container a {
  width: 100%;
}

.count-container {
  text-align: center;
  width: 20%;
  margin: 0;
}

.count-btn {
  width: 25%;
}

.details-container {
  border-top: double black 4px;
  margin-bottom: 1rem;
  padding-block: 0.5rem;
}

.details-container ul {
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
}

.details-container p {
  margin-top: 0.75rem;
}

.section-title {
  font-size: 20px;
}
