.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pokemon {
  animation: spin 1s linear infinite;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  height: 100px;
  position: relative;
  width: 100px;
}

.pokemon::before {
  background: black;
  content: '';
  height: 8px;
  position: absolute;
  top: 43px;
  transform: translatey(-50%);
  width: 85px;
}

.pokemon::after {
  background: white;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 8px black,
    inset 0 0 0 10px white,
    inset 0 0 0 12px black;
  content: '';
  height: 38px;
  left: 42px;
  position: absolute;
  top: 44px;
  transform: translate(-50%, -50%);
  width: 38px;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
